@tailwind base;
@tailwind components;
@tailwind utilities;

.field {
    @apply border py-2 px-3 text-gray-500;
}

.field-label {
    @apply uppercase text-gray-500 mb-2;
}

.field-group {
    @apply flex flex-col;
}

.btn {
    @apply block text-white uppercase text-lg p-2 rounded;
}

.link {
    @apply block no-underline text-sm;
}

.link-grey {
    @apply text-gray-500;
}

.link-grey:hover {
    @apply text-gray-500;
}

.swal2-container .swal2-popup.swal2-toast {
    flex-direction: column;
    align-items: start;
    position: relative;
}
.swal2-container .swal2-icon {
    position: absolute;
    top: 50%;
    margin-top: -20px !important;
}
.swal2-container .swal2-popup.swal2-toast .swal2-title,
.swal2-container .swal2-popup.swal2-toast .swal2-content {
    margin-left: 60px;
    text-align: left;
}